$footer-bg: $purple;
$footer-link-color:$white;
$nav-font: $josefin;
$footer-link-hover:$green;

footer {
    padding: 30px 0;
    background-color: $footer-bg;
    nav{
        ul{
            list-style: none;
            padding-left: 0;
            margin-bottom: 30px;
            li{
                a{
                    display: block;
                    padding: 5px 0;
                    color:$footer-link-color;
                    text-align: center;
                    font-family: $nav-font;
                    text-transform:capitalize;
                    font-weight: $font-bold;
                    font-size: 1.8rem;

                    &:hover,
                        &.active{
                        color:lighten(complement($footer-bg), 15%);
                    }
                }

            }
        }
    }
    .copyright{
        text-align: center;
        color:$footer-link-color;
    }
}

@media(min-width:768px){
    footer{
       
        .container{
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                
           
                    li{
                        a{
                            padding: 5px;
                        }
                    
                }
            }
        }
    }
}